<h2>edit link</h2>

<%= form_for(@link, url: "/links/#{@link.id}") do %>
  Title: <%= text_field_tag :title, @link.title %>
  URL: <%= text_field_tag :url, @link.url %>
  <%= submit_tag "Submit" %>
<% end %>
