// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unread {
  color: blue;
}

.read {
  color: grey;
}

.link {
  padding-bottom: 20px;
}

body {
  background-color: #d3d3d3;
}
